DB_NAME=postgres
DB_HOST=zs_platform
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=changethispassword1
BACKEND_SECRET_KEY=changethissecretkey1
BACKEND_DEBUG=False
BACKEND_ALLOWED_HOSTS=www.zs-platform.com,www.zs-platform.domain.com,localhost,127.0.0.1
BACKEND_CSRF_TRUSTED_ORIGINS=https://www.zs-platform.com,https://www.zs-platform.domain.com,https://localhost
BACKEND_DJANGO_DB_SCHEMA=backend
BACKEND_DJANGO_DB_USER=django
BACKEND_DJANGO_DB_PASSWORD=changethispassword3
FRONTEND_STREAMLIT_INTERNAL_URL=http://streamlit:8501/
FRONTEND_STREAMLIT_DB_SCHEMA=frontend
FRONTEND_STREAMLIT_DB_USER=streamlit
FRONTEND_STREAMLIT_PASSWORD=changethispassword4
DASH_1_DATALENS_DB_SCHEMA=dash1
DASH_1_DATALENS_DB_USER=datalens
DASH_1_DATALENS_DB_PASSWORD=changethispassword5
DASH_2_SUPERSET_DB_SCHEMA=dash2
DASH_2_SUPERSET_DB_USER=superset
DASH_2_SUPERSET_DB_PASSWORD=changethispassword6
ETL_1_AIRFLOW_DB_SCHEMA=etl1
ETL_1_AIRFLOW_DB_USER=airflow
ETL_1_AIRFLOW_DB_PASSWORD=changethispassword7