{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% load template_filters %}


<!-- DOCTYPE -->
	{% block lang %}{% if page_settings.lang %}{{ page_settings.lang }}{% else %}{{ block.super }}{% endif %}{% endblock lang %}
<!-- END DOCTYPE -->


<!-- HEAD -->
	{% block charset %}{% if page_settings.charset %}{{ page_settings.charset }}{% else %}{{ block.super }}{% endif %}{% endblock charset %}

	{% block viewport %}{{ block.super }}{% endblock viewport %}
	
	{% block description %}{% if page_settings.description %}{{ page_settings.description }}{% else %}{{ block.super }}{% endif %}{% endblock description %}
	
	{% block author %}{% if page_settings.author %}{{ page_settings.author }}{% else %}{{ block.super }}{% endif %}{% endblock author %}
	
	{% block title %}{% if page_settings.title %}{{ page_settings.title }}{% else %}{{ block.super }}{% endif %}{% endblock title %}
	
    {% block icon_png %}{% if page_settings.icon_png %}/media/app_pages/images/site/favicon/{{ page_settings.icon_png }}{% else %}{{ block.super }}{% endif %}{% endblock icon_png %}
    {% block icon_svg %}{% if page_settings.icon_svg %}/media/app_pages/images/site/favicon/{{ page_settings.icon_svg }}{% else %}{{ block.super }}{% endif %}{% endblock icon_svg %}
	{% block icon %}{% if page_settings.icon %}/media/app_pages/images/site/favicon/{{ page_settings.icon }}{% else %}{{ block.super }}{% endif %}{% endblock icon %}
    {% block icon_apple_touch %}{% if page_settings.icon_apple_touch %}/media/app_pages/images/site/favicon/{{ page_settings.icon_apple_touch }}{% else %}{{ block.super }}{% endif %}{% endblock icon_apple_touch %}
	{% block webmanifest %}{% if page_settings.webmanifest %}/media/app_pages/images/site/favicon/{{ page_settings.webmanifest }}{% else %}{{ block.super }}{% endif %}{% endblock webmanifest %}

    <!-- BASE FONT -->
    {% block base_font %}{{ block.super }}{% endblock base_font %}
	<!-- BASE CSS -->
	{% block base_css %}{{ block.super }}{% endblock base_css %}
    <!-- PAGE CSS -->
    {% block page_css %}{{ block.super }}<link href="{% static 'app_pages/styles/site/index.css' %}" rel="stylesheet">{% endblock page_css %}
    <!-- PAGE PACKAGES CSS -->
    {% block page_packages_css %}{{ block.super }}{% endblock page_packages_css %}
	<!-- CSS -->
<!-- END HEAD -->


<!-- BODY -->
	<!-- container display mode --> <!-- active --> <!-- fixed --> <!-- container-aside-left-disabled -->  <!-- container-header-disabled --> <!--  container-main-padding-off --> 
	{% block container_display_mode_classname %}
		{% spaceless %}
		{% if page_settings.page_settings_container_display_mode.all != None %}
			{% for container_mode in page_settings.page_settings_container_display_mode.all %}
				{{ container_mode.name }}
			{% endfor %}
		{% else %}
			active
		{% endif %}
		{% endspaceless %}
    {% endblock container_display_mode_classname %}

		<!-- container-header -->
			<!-- header-section-left -->
			{% block header_section_left %}{% if page_settings.page_settings_header_section_left_enable %}{{ block.super }}{% endif %}{% endblock header_section_left %}
				{% block header_section_left_button_menu %}{% if page_settings.page_settings_header_section_left_button_menu_enable %}{{ block.super }}{% endif %}{% endblock header_section_left_button_menu %}
				
				{% block header_section_left_brand_details %}{% if page_settings.page_settings_header_section_left_brand_details_enable %}{{ block.super }}{% endif %}{% endblock header_section_left_brand_details %}
					
					{% block brand_details_logo_url %}{% if page_settings.app_brand_logo %}/media/{{ page_settings.app_brand_logo }}{% else %}{{ block.super }}{% endif %}{% endblock brand_details_logo_url %}
						
						{% block header_section_left_brand_details_logo_zoom %}{% if page_settings.app_brand_logo_zoom %}{{ page_settings.app_brand_logo_zoom|unlocalize }}{% else %}{{ block.super }}{% endif %}{% endblock header_section_left_brand_details_logo_zoom %}
					
					{% block header_section_left_brand_details_title_help %}{% if page_settings.app_brand_name %}{{ page_settings.app_brand_name }}{% else %}{{ block.super }}{% endif %}{% endblock header_section_left_brand_details_title_help %}
					{% block header_section_left_brand_details_title %}{% if page_settings.app_brand_name %}{{ page_settings.app_brand_name }}{% else %}{{ block.super }}{% endif %}{% endblock header_section_left_brand_details_title %}
						
						{% block header_section_left_brand_details_title_color %}{% if page_settings.app_brand_color %}{{ page_settings.app_brand_color }}{% else %}{{ block.super }}{% endif %}{% endblock header_section_left_brand_details_title_color %}
			<!-- end header-section-left -->

			<!-- header-section-center -->
			{% block header_section_center %}{% if page_settings.page_settings_header_section_center_enable %}{{ block.super }}{% endif %}{% endblock header_section_center %}
			<!-- end header-section-center -->

			<!-- header-section-right -->
			{% block header_section_right %}{% if page_settings.page_settings_header_section_right_enable %}{{ block.super }}{% endif %}{% endblock header_section_right %}

				{% block header_section_right_search_extra_button %}{% if page_settings.page_settings_header_section_right_search_extra_button_enable and page_settings.page_settings_header_section_center_enable %}{{ block.super }}{% endif %}{% endblock header_section_right_search_extra_button %}
				
				{% block header_section_right_notification %}{% if page_settings.page_settings_header_section_right_notification_enable %}{{ block.super }}{% endif %}{% endblock header_section_right_notification %}
				{% block header_section_right_notification_items_count %}
				{% if app_events and app_events.actual.count > 0 %}
				<div class="notification-count">{% if app_events.actual.count > 9%}+9{% else %}{{app_events.actual.count}}{% endif %}</div>
				<script type="text/javascript">setTimeout(function() {notification_event_confirm=0},1000);</script>
				{% endif %}
				{% endblock header_section_right_notification_items_count %}
				{% block header_section_right_notification_items %}
					{% if app_events %}
						{% include "app_zs_admin/include/header_section_right_notification_includes.html" with events_actual=app_events.actual events_previews=app_events.previews %}
					{% else %}
	                    <div class="row divider"></div>
	                    <div class="row">
	                        <div class="notification_container">
	                            <div class="block-content">Новых уведомлений нет</div>
	                        </div>
	                    </div>
					{% endif %}
				{% endblock header_section_right_notification_items %}

				{% block header_section_right_user_settings %}{% if page_settings.page_settings_header_section_right_user_settings_enable %}{{ block.super }}{% endif %}{% endblock header_section_right_user_settings %}

					{% block header_section_right_user_settings_locale %}
						{% if page_settings.page_settings_header_section_right_user_settings_locale_enable %}
					        {% if page_settings.page_settings_header_section_right_user_settings_locale_includes.all %}
					        	{% include "app_zs_admin/include/header_section_right_user_settings_locale_includes.html" with contry_data=page_settings.page_settings_header_section_right_user_settings_locale_includes.all %}
					        {% else %}
					        	{{ block.super }}
					        {% endif %}
				        {% endif %}
					{% endblock header_section_right_user_settings_locale %}

					{% block header_section_right_user_settings_menu %}{% if page_settings.page_settings_header_section_right_user_settings_menu_enable %}{{ block.super }}{% endif %}{% endblock header_section_right_user_settings_menu %}

			<!-- end header-section-right -->

			<!-- container-aside-left -->
			{% block main_site_page %}{% if page_settings.page_settings_container_aside_left_main_site_page %}/{{page_settings.page_settings_container_aside_left_main_site_page}}/{% else %}{{ block.super }}{% endif %}{% endblock main_site_page %}

			{% block container_aside_left %}
				{% if page_settings.page_settings_container_aside_left_menu_items_includes.all %}
					{% include "app_zs_admin/include/container_aside_left_menu_includes.html" with menu_items=page_settings.page_settings_container_aside_left_menu_items_includes.all %}
				{% else %}
					{{ block.super }}
				{% endif %}
			{% endblock container_aside_left %}
			<!-- end container-aside-left -->

			<!-- container-main -->
    		{% block full_screen_mode %}{% endblock full_screen_mode %}
			{% block container_main %}{{ block.super }}{% endblock container_main %}

			{% block container_main_bg_color %}
				{% if page_settings.page_settings_container_main_bg_color_enable %}style="background-color: {{page_settings.page_settings_container_main_bg_color}};"
		        {% endif %}
			{% endblock container_main_bg_color %}

			{% block breadcrumb %}{{ block.super }}{% endblock breadcrumb %}
			{% block breadcrumb_items %}{% spaceless %}<li><a>Дашборды</a></li>{% endspaceless %}
			{% endblock breadcrumb_items %}

			{% block container_main_content %}
			<div class="wrapper">	
				<div class="main_text_header">Аналитика и Дашборды</div>
				<div class="main_theme"></div>
			</div>
			{% endblock container_main_content %}
			<!-- end container-main -->

			<!-- container-footer -->
			<!-- container-footer -->

		<!-- end container-header -->

	<!-- end container display mode --> 

	<!-- BASE JS -->
    {% block base_js %}{{ block.super }}{% endblock base_js %}
    <!-- PAGE JS -->
    {% block page_js %}{{ block.super }}<script type="application/javascript" src="{% static 'app_pages/scripts/site/index.js'%}"></script>
    {% endblock page_js %}
    <!-- PAGE PACKAGES JS -->
    {% block page_packages_js %}{{ block.super }}{% endblock page_packages_js %}
<!-- END BODY -->